body .layer{overflow: hidden;padding: 0;margin: 0;display: block;min-width: 670px;box-sizing: border-box;position: relative;}
body .layer>.selectBtnArea{

    margin: 7px auto;

    width: 99%;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0;
}
body .layer>.selectBtnArea>a{

    background-color: #1a8641;

    display: block;

    float: left;

    margin-left: 15px;

    height: 30px;

    line-height: 30px;

    color: white;

    padding: 0 30px;

    letter-spacing: 1px;
}
body .layer>.selectBtnArea>.select{

    margin: 0;
}
body .layer>.selectBtnArea>.reload{

}
body .layer>.selectWhereArea{

    width: 99%;

    margin: 0 auto;

    overflow: hidden;

    padding: 0;

    border: 1px solid #969696;

    box-sizing: border-box;
}
body .layer>.selectWhereArea>.head{

    background-color: #e4e4e4;

    border-bottom: 1px solid #969696;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0;

    margin: 0;

    display: block;
}
body .layer>.selectWhereArea>.head>.title{

    display: block;

    padding: 0;

    margin: 8px 11px;

    box-sizing: border-box;

    overflow: hidden;

    float: left;
}
body .layer>.selectWhereArea>.head>.fold{

    float: right;

    width: 35px;

    height: 35px;

    overflow: hidden;

    display: block;

    padding: 0;

    box-sizing: border-box;

    border-left: 1px solid #969696;
}
body .layer>.selectWhereArea>.dateTitle{

    display: block;

    overflow: hidden;

    padding: 0;

    margin: 17px 8px 17px 17px;

    float: left;
}
body .layer>.selectWhereArea>.startTime{
margin: 13px 0;
height: 27px;
overflow: hidden;
display: block;
float: left;
padding: 0;
box-sizing: border-box;
width: 110px;
line-height: 27px;
color: black;
}
body .layer>.selectWhereArea>.to{

    float: left;

    display: block;

    overflow: hidden;

    padding: 0;

    box-sizing: border-box;

    margin: 16px 5px;
}
body .layer>.selectWhereArea>.endTime{
margin: 13px 0;
height: 27px;
overflow: hidden;
display: block;
float: left;
padding: 0;
box-sizing: border-box;
width: 110px;
line-height: 27px;
color: black;
}
body .layer>.selectWhereArea>.serviceTroop{

    display: block;

    float: left;

    overflow: hidden;

    padding: 0;

    margin: 16px 5px 0 20px;
}
body .layer>.selectWhereArea>.select{

    border: 1px solid #969696;

    float: left;

    display: block;

    height: 27px;

    box-sizing: border-box;

    width: 104px;

    margin: 13px 0;

    padding: 0;

    overflow: hidden;

    -moz-appearance: none;

    -webkit-appearance: none;

    line-height: 27px;

    padding: 0 12px 0 3px;

    background: url(../images/expansion.png) no-repeat 93%;
}
body .layer>.selectWhereArea>.select>option{

}
body .layer>.selectWhereArea>.serviceUser{

    display: block;

    float: left;

    overflow: hidden;

    padding: 0;

    margin: 16px 5px 0 20px;
}
body .layer>.selectWhereArea>.userName{
margin: 13px 0;
height: 27px;
overflow: hidden;
display: block;
float: left;
padding: 0;
box-sizing: border-box;
width: 110px;
line-height: 27px;
text-align: left;
color: black;
}
body .layer>.tableArea{width: 99%;margin: 9px auto 0 auto;overflow: hidden;padding: 0;border: 1px solid #969696;box-sizing: border-box;}
body .layer>.tableArea>.head{

    background-color: #e4e4e4;

    border-bottom: 1px solid #969696;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0;

    margin: 0;

    display: block;
}
body .layer>.tableArea>.head>.title{

    display: block;

    padding: 0;

    margin: 8px 11px;

    box-sizing: border-box;

    overflow: hidden;

    float: left;
}