body, html, ul, li {
    padding: 0;
    margin: 0;
    display: block;
    font: normal 12px/1.5 'microsoft yahei';
    overflow: hidden;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
body{
    overflow:hidden;
    overflow-y: auto;
    position: relative;
    min-width: 1024px;
}
span {
    font: normal 12px/1.5 'microsoft yahei';
}
li {
    list-style: none;
}
input {
    outline: none;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {    text-decoration: none;
}

body .fromLayerArea{

    z-index: 101;

    overflow: hidden;

    padding: 0;

    display: block;

    box-sizing: border-box;

    background-color: white;
}
body .fromLayerArea>.rows{

    display: block;

    padding: 0;

    box-sizing: border-box;

    overflow: hidden;

    margin: 20px auto 0 auto;
}
body .fromLayerArea>.rows>span{float: left;/* margin-left: 46px; */height: 38px;line-height: 38px;font-size: 13px;color: #6f6c6c;overflow: hidden;box-sizing: border-box;text-align: right;width: 25%;}
body .fromLayerArea>.rows>.inputGroup {float: left;width: 60%;padding-left: 15px;padding-top: 4px;}
body .fromLayerArea>.rows>.inputGroup>input{height: 30px;box-sizing: border-box;overflow: hidden;padding: 0;width: 100%;text-align: left;border: 1px solid #a5a3a3;color: #828282;padding-left: 9px;}
body .fromLayerArea>.rows>.inputGroup>select{height: 30px;box-sizing: border-box;overflow: hidden;padding: 0;width: 100%;text-align: left;border: 1px solid #a5a3a3;color: #828282;padding-left: 9px;}

body .fromLayerArea > .rows > .inputGroup .error {
   color: red;
}
       body .fromLayerArea > .rows > .inputGroup .error:before {
           content: "\f00d";
           display: inline-block;
           font: normal normal normal 14px/1 FontAwesome;
           color: red;
           padding-right: 3px;
    }
     body .fromLayerArea > .rows > .inputGroup .success {
    color: #390;
    }
      body .fromLayerArea > .rows > .inputGroup .success:before {
           content: "\f00c";
           display: inline-block;
           font: normal normal normal 14px/1 FontAwesome;
           color: #390;
           padding-right: 3px;
    }
body .fromLayerArea>.bottom{

    padding: 0;

    margin: 7px 0 16px 0;

    overflow: hidden;

    box-sizing: border-box;

    display: block;
}
body .fromLayerArea>.bottom>a{display: block;float: left;width: 74px;text-align: center;height: 31px;line-height: 31px;color: white;background-color: #21c5a7;margin: 12px 0 0 87px;}
body .fromLayerArea>.bottom>.save{

}
body .fromLayerArea>.bottom>.cancel{

    background-color: #848484;
}
.clearfix {
clear:both;
}
/*下拉框公共样式*/
ul.selectPopupCommon {
    background-color: white;
    border: 1px solid #ececec;
    display: none;
    border-radius: 6px; 
    overflow:visible;
}
ul.selectPopupCommon li{
    padding: 10px 10px;
    /* margin: 7px 0; */
    border-bottom: 1px solid #ececec;
    cursor: pointer;
     overflow:visible;
}
    ul.selectPopupCommon li:first-child {
    position:relative;
    }
    ul.selectPopupCommon li .selectIcon{
   padding-right: 10px;
    float: left;
    padding-top: 1px;
}
ul.selectPopupCommon li .selectIcon>img{

}
    ul.selectPopupCommon li:first-child {
    position:relative;
    }
ul.selectPopupCommon li:hover{
    background-color: #ececec;
}
ul.selectPopupCommon li:first-child:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0de";
    position: absolute;
    color: #ececec;
    font-size: 22px;
    top: -10px;
    right: 10px;
    z-index: 10;
    display: block;
}
/* 弹出框 加载公共页面样式 */
.popupCommon {
      overflow: hidden;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
}
.popupCommon .left{
}
.popupCommon .right{
}
.popupCommon .right .selectWhereRows{margin: 10px 0px;}
    .popupCommon .right table.selectTableRows {
    width: 100%;
    margin-bottom: 20px;
    }
.popupCommon .right .selectWhereRows .filterRows{float: left;}
.popupCommon .right .selectWhereRows .filterRows .filter{float: left;margin-right: 10px;}
.popupCommon .right .selectWhereRows .filterRows .filter .title{font-size: 15px;letter-spacing: 1px;overflow: hidden;padding: 0;margin: 0;color: #a9a9a9;box-sizing: border-box;}
.popupCommon .right .selectWhereRows .filterRows .filter .inputFilter{margin-left: 7px;box-sizing: border-box;height: 34px;overflow: hidden;padding-left: 5px;border: 1px solid #d0d0d0;width: 155px;color: #444;}
.popupCommon .right .selectWhereRows .filterRows .filter .selectFilter{margin-left: 7px;box-sizing: border-box;height: 34px;overflow: hidden;padding-left: 5px;border: 1px solid #d0d0d0;width: 155px;font-size: 14px;color: #444;}

.popupCommon  .selectWhereRows>.selectBtn{text-align: center;float: left;}
.popupCommon  .selectWhereRows>.selectBtn .select,
.popupCommon   .selectWhereRows>.selectBtn .add{
    height: 33px;display: inline-block;overflow: hidden;box-sizing: border-box;margin: 0 10px;float: left;background: #65d3de;line-height: 33px;color: white;font-size: 13px;letter-spacing: 6px;cursor: pointer;width: 80px;}
.popupCommon   .selectWhereRows>.selectBtn .reset{
    height: 33px;display: inline-block;overflow: hidden;box-sizing: border-box;margin: 0 10px;float: left;background: #999;line-height: 33px;color: white;font-size: 13px;letter-spacing: 6px;cursor: pointer;width: 80px;}
.popupCommon   .selectWhereRows>.selectBtn .delete{
    height: 33px;display: inline-block;overflow: hidden;box-sizing: border-box;margin: 0 10px;float: left;background: red;line-height: 33px;color: white;font-size: 13px;letter-spacing: 6px;cursor: pointer;width: 80px;
}
.popupCommon   .selectWhereRows>.selectBtn .edit{
    height: 33px;display: inline-block;overflow: hidden;box-sizing: border-box;margin: 0 10px;float: left;background: #65d3de;line-height: 33px;color: white;font-size: 13px;letter-spacing: 6px;cursor: pointer;width: 80px;}


/* icon btn*/
    .popupCommon .selectBtn  .iconBtn{
    display: inline-block;
    margin-left: 10px;
    }
    .popupCommon .selectBtn .iconBtn_preview {
        background:url(../images/commonPopupOpera.png) no-repeat 0px 0px;height:15px;padding-left:25px;
    }
    .popupCommon .selectBtn .iconBtn_download {
        background:url(../images/commonPopupOpera.png) no-repeat 0px -15px;height:15px;padding-left:19px;
    }
    .popupCommon .selectBtn .iconBtn_edit {
        background:url(../images/commonPopupOpera.png) no-repeat 0px -30px;height:16px;padding-left:18px;
    }
    .popupCommon .selectBtn .iconBtn_view{
       background:url(../images/commonPopupOpera.png) no-repeat 0px -46px;height:16px;padding-left:18px;
    }
    .popupCommon .selectBtn .iconBtn_delete {
       background:url(../images/commonPopupOpera.png) no-repeat 0px -62px;height:16px;padding-left:18px;}
    }
 .popupCommon .right table.selectTableRows {width: 99%;margin: 13px auto;border: 0;}
 .popupCommon .right table.selectTableRows, 
 .popupCommon .right table.selectTableRows th, 
 .popupCommon .right table.selectTableRows td {
    font-size: 0.95em;
    text-align: center;
    padding: 10px 7px;
    border-collapse: collapse;
} 
 .popupCommon .right table.selectTableRows th{
     /* color: white; */
     /* background-color: #65d3de; */
     border-bottom: 1px solid #dcdcdc;
 }
 .popupCommon .right table.selectTableRows tr:nth-child(odd) {
    /* background-color: #f3f3f3; */
}
    .popupCommon .right table.selectTableRows  tbody tr:hover {
    background-color: #f3f3f3;
    }
    .popupCommon .right table.selectTableRows tr td{}

    .popupCommon .right table.selectTableRows th.operatingTd,
    .popupCommon .right table.selectTableRows td.operatingTd {
        /* width: 100%; */
    }
        .popupCommon .right table.selectTableRows th.operatingTd .selectBtn,
        .popupCommon .right table.selectTableRows td.operatingTd .selectBtn {
        margin-left:0px;
        }