/*左部区域*/
body>.leftArea{

    width: 218px;

    box-sizing: border-box;

    overflow: hidden;

    margin-bottom: 1px;

    position: fixed;

    border-right: 1px solid #e9e9e9;

    background-color: white;

    box-shadow: 7px 9px 7px #e4e3e3;

    bottom: 0;

    top: 0;

    z-index: 50;
}

/*头部logo*/
body>.leftArea>.logoIcon{

    margin: 0 auto;

    width: 122px;

    display: block;

    margin-top: 26px;
}
/*头部logo*/

/*搜索区域*/
body>.leftArea>.search{

    border: 2px solid red;

    overflow: hidden;

    width: 189px;

    margin: 0 auto;

    margin-top: 17px;

    box-sizing: border-box;

    padding: 0;
}
body>.leftArea>.search>select{

    border: 0px;

    float: left;

    display: block;

    height: 32px;

    box-sizing: border-box;

    width: 61px;

    margin: 0;

    padding: 0;

    overflow: hidden;

    -moz-appearance: none;

    -webkit-appearance: none;

    line-height: 32px;

    padding: 0 12px 0 3px;

    background: url(../images/expansion.png) no-repeat 93%;
}
body>.leftArea>.search>select>option{

}
body>.leftArea>.search>input{

    display: block;

    box-sizing: border-box;

    float: left;

    width: 92px;

    height: 32px;

    border: 0px;

    line-height: 24px;

    overflow: hidden;

    margin: 0;

    padding: 0;

    text-align: left;

    color: black;
}
body>.leftArea>.search>.searchBtn{

    width: 32px;

    height: 32px;

    background-color: red;

    display: block;

    float: left;

    cursor: pointer;

    background: url(../images/seachBtn.png) no-repeat 65% red;

    background-size: 57%;

    box-sizing: border-box;

    margin: 0;

    padding: 0;
}
/*搜索区域*/

/*项目列表*/
body>.leftArea>.projectList{

    width: 100%;

    margin-top: 22px;
}
body>.leftArea>.projectList>.rows{

    box-sizing: border-box;

    margin-top: 2px;

    padding: 4px 0 4px 4px;

    cursor: pointer;
}
body>.leftArea>.projectList>.rows:hover{

}
body>.leftArea>.projectList>.rows>.endProject{

    display: block;

    width: 80%;

    margin: 0 auto;

    box-sizing: border-box;

    font-size: 14px;
}
body>.leftArea>.projectList>.rows>.noProcess{

    display: block;

    width: 80%;

    margin: 0 auto;

    font-size: 14px;
}
body>.leftArea>.projectList>.rows>div{width: 17px;height: 15px;float: left;margin-top: 3px;}
body>.leftArea>.projectList>.rows>.projectStateIcon{background: url(../images/projectState.png) no-repeat 50%;background-position: 50% -17px;}
body>.leftArea>.projectList>.rows>.projectEndIcon{background: url(../images/projectEnd.png) no-repeat 50%;background-position: 0 -17px;}
body>.leftArea>.projectList>.select{

    background-color: red;

    color: white;
}
body>.leftArea>.projectList>.select>div{

    background-position: 0 0 !important;
}
/*项目列表*/

body>.leftArea>.bottom{

    margin-bottom: 14px;
}
body>.leftArea>.bottom>span{

    display: block;

    margin: 0 auto;

    color: #c3c3c3;

    width: 62px;

    font-size: 13px;

    cursor: pointer;
}
/*左部区域*/

/*中间区域*/
body>.centerArea{

    padding: 0 301px 0 218px;

    background: -ms-linear-gradient(left, #eaeaea,  white);

    overflow: hidden;

    box-sizing: border-box;

    background: -webkit-gradient(linear, 0% 0%, 20% 0%,from(#eaeaea), to(white));
}

/*头部区域*/
body>.centerArea>.head{

    overflow: hidden;

    height: 65px;

    padding-top: 27px;

    box-sizing: border-box;

    width: 98%;

    margin: 0 auto;

    border-bottom: 3px solid #f7f7f7;
}

/*头部左区域*/
body>.centerArea>.head>.left{

    float: left;

    box-sizing: border-box;
}
body>.centerArea>.head>.left>.goBack{

    width: 13px;

    cursor: pointer;

    float: left;
}
body>.centerArea>.head>.left>.pathTitle{

    display: block;

    float: left;

    font-size: 15px;

    height: 21px;

    font-weight: 500;

    letter-spacing: 0.5px;

    margin-left: 8px;
}
/*头部左区域*/

/*头部右区域*/
body>.centerArea>.head>.right{

    float: right;
}
body>.centerArea>.head>.right>.mapArea{

    float: left;

    margin-right: 8px;
}
body>.centerArea>.head>.right>.mapTitle{

    display: block;

    margin: 0;

    padding: 0;

    float: left;

    height: 21px;

    padding-right: 13px;

    background: url(../images/expansion.png) no-repeat 99%;

    box-sizing: border-box;

    font-size: 14px;

    line-height: 21px;

    cursor: pointer;
}
/*头部右区域*/

/*头部区域*/

/*进度显示区域*/
body>.centerArea>.processArea{

    width: 98%;

    margin: 0 auto;

    margin-top: 16px;

    box-shadow: 0 0 10px 5px #d0cece;

    background-color: white;

    overflow: hidden;
}
body>.centerArea>.processArea>.progressRows:first-child{

    margin-top: 21px;
}
body>.centerArea>.processArea>.progressRows{

    box-sizing: border-box;

    width: 96%;

    margin: 0 auto;

    position: relative;

    height: 51px;

    margin-top: 8px;
}
body>.centerArea>.processArea>.progressRows:nth-child(n+7){
    display: none;
}
body>.centerArea>.processArea>.progressRows>img{

    float: left;

    width: 32px;

    margin-top: 9px;
}
body>.centerArea>.processArea>.progressRows>.title{

    display: block;

    margin-left: 12px;

    float: left;

    height: 32px;

    line-height: 32px;

    font-size: 14px;

    font-weight: 500;

    padding-right: 11px;

    margin-top: 8px;

    background: url(../images/expansion.png) no-repeat 100%;

    background-size: 23%;

    cursor: pointer;

    background-position-y: 16px;
}
body>.centerArea>.processArea>.progressRows>ul{

    position: absolute;

    top: 32px;

    left: 75px;

    box-sizing: border-box;

    background-color: white;

    overflow: hidden;

    z-index: 1;

    border: 1px solid gainsboro;

    display: none;
}
body>.centerArea>.processArea>.progressRows>ul>li{

    font-size: 14px;

    margin: 4px 0;

    padding: 3px 10px;

    cursor: pointer;
}
body>.centerArea>.processArea>.progressRows>ul>li:hover{

    background-color: #c7c7c7;
}
body>.centerArea>.processArea>.progressRows:first-child>.title{

    margin-left: 17px;

    margin-top: 9px;

    font-size: 15px;

    background: transparent;
}
body>.centerArea>.processArea>.progressRows>.processArea>.dateTime{

    position: absolute;

    top: 0px;

    left: 13%;

    border: 1px solid #dcdbdb;

    display: block;

    margin: 0;

    padding: 0 2px 0 2px;

    color: #b39898;

    z-index: 2;
}
body>.centerArea>.processArea>.progressRows>.processArea{

    overflow: hidden;

    position: relative;

    padding-right: 29px;

    height: 51px;

    margin-top: 0px;

    cursor: pointer;
}
body>.centerArea>.processArea>.progressRows>.processArea>.progressBarArea{

    width: 98%;

    height: 13px;

    border-radius: 20px;

    background-color: #f1f1f1;

    margin-top: 19px;

    margin-left: 8px;

    float: left;

    overflow: hidden;

    padding: 0;
}
body>.centerArea>.processArea>.progressRows:first-child>.processArea>.progressBarArea{

    margin-top: 20px;

    margin-left: 24px;

    width: 96.5%;
}
body>.centerArea>.processArea>.progressRows>.processArea>.progressBarArea>.progressBar{

    height: 6px;

    background-color: #00b7c4;

    border-radius: 13px;

    width: 0%;

    margin-top: 3.2px;
}
body>.centerArea>.processArea>.progressRows:first-child>.processArea>.progressBarArea>.progressBar{
    background-color: red;
}
body>.centerArea>.processArea>.progressRows>.processArea>.number{

    position: absolute;

    top: 19px;

    z-index: 1;

    left: 23px;

    width: 0%;

    text-align: right;

    background-color: #f1f1f1;

    opacity: 0.8;

    height: 13px;

    border-radius: 20px;

    line-height: 13px;

    box-sizing: border-box;

    padding: 0 8px 0 8px;

    font-weight: 600;
}
body>.centerArea>.processArea>.progressRows:nth-child(n+2)>.processArea>.number{left: 8px;}
body>.centerArea>.processArea>.progressRows>.scheduleNumber{position: absolute;right: 4px;top: 16px;font-weight: 600;}
body>.centerArea>.processArea>.progressRows>a{

    float: left;

    box-sizing: border-box;

    font-size: 15px;

    background-color: #00b7c4;

    border-radius: 5px;

    color: #dbf4f6;

    font-weight: 100;

    width: 70px;

    text-align: center;

    margin-top: 10px;

    height: 27px;

    line-height: 27px;
}
body>.centerArea>.processArea>.dottedLine{

    width: 96%;

    margin: 0 auto;

    border: 0.5px dashed #d8d8d8;

    margin-top: 8px;
}
body>.centerArea>.processArea>.gather{

    text-align: center;
}
body>.centerArea>.processArea>.gather>span{

    font-size: 13px;
}
body>.centerArea>.processArea>.gather>span:nth-child(n+2){

    margin-left: 23px;
}
body>.centerArea>.processArea>.gather>span>.number{

    color: #4ed3dc;
}
body>.centerArea>.processArea>.gather>.total{

}
body>.centerArea>.processArea>.gather>.completion{

}
body>.centerArea>.processArea>.gather>.processing{

}
body>.centerArea>.processArea>.gather>.notStarted{

}
body>.centerArea>.processArea>.moreDown{

    display: block;

    width: 29px;

    height: 25px;

    margin: 7px auto;

    cursor: pointer;
}
/*进度显示区域*/

/*项目信息切换*/
body>.centerArea>.projectInfoSwitch{

    box-sizing: border-box;

    overflow: hidden;

    margin-top: 16px;
}
body>.centerArea>.projectInfoSwitch>span{

    font-size: 15px;

    font-weight: 400;

    display: block;

    float: left;

    margin-left: 39px;

    height: 33px;

    line-height: 33px;

    padding: 0px 21px;

    cursor: pointer;
}
body>.centerArea>.projectInfoSwitch>.projectInfo{

}
body>.centerArea>.projectInfoSwitch>.sitePhoto{

}
body>.centerArea>.projectInfoSwitch>.select{

    border-bottom: 3px solid red;

    color: red;
}
/*项目信息切换*/

/*项目信息数据区域*/
body>.centerArea>.projectInfo{

    display: block;
}


body>.centerArea>.projectInfo>.rows{

    width: 98%;

    margin: 0 auto;

    border: 1px solid #dadada;

    overflow: hidden;

    box-sizing: border-box;
}
body>.centerArea>.projectInfo>.rows:nth-child(n+2){

    margin-top: 20px;
}
body>.centerArea>.projectInfo>.rows>.head{

    height: 42px;

    box-sizing: border-box;

    border-bottom: 1px solid #dadada;
}
body>.centerArea>.projectInfo>.rows>.head>div{

}
body>.centerArea>.projectInfo>.rows>.head>.projectMaterial{

}
body>.centerArea>.projectInfo>.rows>.head>.right{

    float: right;

    margin: 8px 15px 0 0;

    overflow: hidden;

    height: 27px;
}
body>.centerArea>.projectInfo>.rows>.head>.right>.update{

    display: block;

    float: left;

    margin-right: 15px;

    cursor: pointer;

    width: 26px;
}
body>.centerArea>.projectInfo>.rows>.head>.right>.foldExpansion{

    width: 24px;

    margin-top: 3px;

    cursor: pointer;

    height: 18px;

    float: left;

    background: url(../images/foldExpansion.png) no-repeat 50%;

    background-size: 16px;

    background-position: 0 -2px;
}
body>.centerArea>.projectInfo>.rows>.head>.right>.select{background-position: 0 1px;height: 3px;margin-top: 9px;}
body>.centerArea>.projectInfo>.rows>.head>.projectMaterial{
    background: url(../images/projectCost.png) no-repeat 1%;
}
body>.centerArea>.projectInfo>.rows>.head>span{

    font-size: 15px;

    font-weight: 500;

    float: left;

    margin: 8px 0 0 14px;

    padding-left: 24px;
}
body>.centerArea>.projectInfo>.rows>.head>.projectContract{

    background: url(../images/projectContract.png) no-repeat 1px;
}
body>.centerArea>.projectInfo>.rows>.head>.projectMaterials{

    background: url(../images/projectMaterials.png) no-repeat 1px;
}
body>.centerArea>.projectInfo>.rows>.head>.projectCost{

    background: url(../images/projectCosts.png) no-repeat 1px;
}
body>.centerArea>.projectInfo>.rows>.head>.visaRemittance{

    background: url(../images/visaRemittance.png) no-repeat 1px;
}

/*表格样式*/
.table4_2 {
    width: 99%;
    margin: 13px auto;
    border:0;
}
.table4_2 th {
    background-color: #e0e0e0;
    color:#000000;
}
.table4_2,.table4_2 th,.table4_2 td {
    font-size:0.95em;
    text-align:center;
    padding:4px;
    border-collapse:collapse;
}
.table4_2 th,.table4_2 td {
    border-width:1px 0 1px 0;
}
.table4_2 tr {
}
.table4_2 tr:nth-child(odd){
    background-color: #f3f3f3;
}
.table4_2 tr:nth-child(even){
    background-color:#fdfdfd;
}
/*表格样式*/

/*项目信息数据区域*/

/*现场图片区域*/
body>.centerArea>.sitePhoto{

    display: none;
}

/*标准化施工流程区域*/
body>.centerArea>.sitePhoto>.flowChartArea{

    width: 98%;

    margin: 0 auto;

    border: 1px solid #dadada;
}
body>.centerArea>.sitePhoto>.flowChartArea>.head{

    height: 42px;

    box-sizing: border-box;

    border-bottom: 1px solid #dadada;
}
body>.centerArea>.sitePhoto>.flowChartArea>.head>span{

    font-size: 16px;

    display: block;

    float: left;

    padding-left: 23px;

    margin-left: 17px;

    background: url(../images/rocessPhoto.png) no-repeat 1px;

    margin-top: 9px;
}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right{float: right;margin: 8px 15px 0 0;overflow: hidden;height: 27px;}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right>.update{

    display: block;

    float: left;

    margin-right: 15px;

    cursor: pointer;

    width: 26px;
}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right>.foldExpansion{

    width: 24px;

    margin-top: 3px;

    cursor: pointer;

    height: 18px;

    float: left;

    background: url(../images/foldExpansion.png) no-repeat 50%;

    background-size: 16px;

    background-position-y: -2px;
}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right>.select{

    background-position-y: 1px;

    height: 3px;

    margin-top: 9px;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep{

    overflow: hidden;

    box-sizing: border-box;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows{

    height: 91px;

    margin: 7px 6px;

    width: 61px;

    float: left;

    cursor: pointer;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows:nth-child(n+2){

    margin-left: -10px;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.select{

}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.selectIndex{

}

body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.contractConfirmation{

    background: url(../images/contractConfirmation.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.confirmStart{

    background: url(../images/confirmStart.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.constructionScheme{
    background: url(../images/constructionScheme.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.firstPieceSystem{

    background: url(../images/firstPieceSystem.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.constructionProject{
    background: url(../images/constructionProject.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.singleVisa{
    background: url(../images/singleVisa.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.updateProject{
    background: url(../images/updateProject.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.clientReview{
    background: url(../images/clientReview.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.projectSummary{
    background: url(../images/projectSummary.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.dataArchiving{
    background: url(../images/dataArchiving.png) no-repeat 50%;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>div{

    height: 34px;

    margin: 7px 0;

    background-position-y: 0px !important;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.title{

    display: block;

    text-align: center;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.rows>.dateTime{

    display: block;

    text-align: center;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.select>.dateTime{

    color: red;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.selectIndex>.dateTime{

    color: white;

    background-color: red;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.photoStepLetter{

    width: 4.6%;

    border-bottom: 0.4px dashed #e0e0e0;

    overflow: hidden;

    float: left;

    margin-top: 49px;

    margin-left: -16px;
}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.selectLetter{

    border-color: red;
}

body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.selectIndex>div{

    background-position-y: -34px !important;
}

body>.centerArea>.sitePhoto>.flowChartArea>.photoStep>.select>div{

    background-position-y: -68px !important;
}
/*标准化施工流程区域*/

/*现场图片区域*/

/*项目信息总结区域*/
body>.centerArea>.projectContent{

    overflow: hidden;

    display: none;
}
body>.centerArea>.projectContent>.rows{

    width: 98%;

    margin: 0 auto;

    box-sizing: border-box;

    margin-top: 15px;

    position: relative;

    overflow: hidden;

    min-height: 65px;
}
body>.centerArea>.projectContent>.rows:first-child{

    margin-top: 15px;
}
body>.centerArea>.projectContent>.rows:last-child{margin-bottom: 13px;}
body>.centerArea>.projectContent>.rows>.dateTime{position: absolute;bottom: 0;top: 0;width: 50px;}
body>.centerArea>.projectContent>.rows>.dateTime>.day{

    display: block;

    font-size: 35px;

    margin: 0;

    padding: 0;

    height: 31px;

    line-height: 29px;

    text-align: center;
}
body>.centerArea>.projectContent>.rows>.dateTime>.yearAndMonth{

    display: block;

    color: #9b9b9b;

    text-align: center;
}
body>.centerArea>.projectContent>.rows>.dateTime>.vertical{position: absolute;top: 54px;border-right: 1px solid #dcdcdc;left: 50%;margin-left: 0.5px;bottom: 8px;}
body>.centerArea>.projectContent>.rows>.dateTime>.round{

    display: block;

    width: 8px;

    height: 8px;

    background-color: #dcdcdc;

    border-radius: 12px;

    position: absolute;

    bottom: 0;

    left: 50%;

    margin-left: -4px;
}
body>.centerArea>.projectContent>.rows>.dateTime>.round1{

    display: block;

    width: 8px;

    height: 8px;

    background-color: #dcdcdc;

    border-radius: 12px;

    margin: 0 auto;
}
body>.centerArea>.projectContent>.rows>.content{box-sizing: border-box;padding-left: 63px;}
body>.centerArea>.projectContent>.rows>.content>.title{

    font-size: 16px;

    display: block;

    font-weight: 500;
}
body>.centerArea>.projectContent>.rows>.content>.contentArea{

    display: block;

    margin: 0;

    padding: 0;

    text-align: justify;

    margin: 10px 0;

    color: #929292;
}
body>.centerArea>.projectContent>.rows>.content>.photo{

}
body>.centerArea>.projectContent>.rows>.content>.photo>img{

    height: 150px;

    margin-left: 12px;

    width: 125px;
}
body>.centerArea>.projectContent>.rows>.content>.photo>img:first-child{

    margin-left: 0;
}
/*项目信息总结区域*/

/*中间区域*/

/*右部区域*/
body>.rightArea{

    width: 301px;

    position: fixed;

    right: 0;

    background-color: #f6f6f6;

    top: 0;

    box-sizing: border-box;

    padding-bottom: 16px;

    bottom: 0;
}

/*头部用户区域*/
body>.rightArea>div>div{
    margin: 0 !important;
}
body>.rightArea>div>div:last-child{
    width: 0 !important;
}
body>.rightArea>div>div>.headTop{

    border-bottom: 1px solid #cacaca;

    overflow: hidden;

    box-sizing: border-box;

    height: 59px;
}
body>.rightArea>div>div>.headTop>.userPhoto{

    width: 33px;

    height: 33px;

    border-radius: 134px;

    margin: 13px 0 13px 11px;

    float: left;
}
body>.rightArea>div>div>.headTop>.userName{

    display: block;

    float: left;

    margin: 19px 0 0 7px;

    box-sizing: border-box;

    padding-right: 19px;

    background: url(../images/expansion.png) no-repeat 100%;

    background-size: 9px;

    background-position-y: 8px;

    cursor: pointer;
}
body>.rightArea>div>div>.headTop>.shoppingCart{

    float: right;

    margin: 0;

    height: 42px;

    width: 42px;

    box-sizing: border-box;

    padding: 10px;

    position: relative;

    overflow: hidden;

    margin: 7px 7px 0 0;
}
body>.rightArea>div>div>.headTop>.shoppingCart>div{

    background: url(../images/shoppingChart.png) no-repeat 50%;

    width: 20px;

    height: 22px;

    background-position: 50% -21px;

    cursor: pointer;
}
body>.rightArea>div>div>.headTop>.shoppingCart>div:hover{
    background-position: 50% 0;
}
body>.rightArea>div>div>.headTop>.shoppingCart>.number{

    display: block;

    position: absolute;

    top: 2px;

    right: 3px;

    color: white;

    background-color: red;

    padding: 0 5px;

    border-radius: 14px;

    text-align: center;

    cursor: pointer;
}
/*头部用户区域*/

/*项目基本信息*/
body>.rightArea>div>div>.projectBasicInfo{
}
body>.rightArea>div>div>.projectBasicInfo>.headInfo{

}
body>.rightArea>div>div>.projectBasicInfo>.headInfo>.title{

    background: url(../images/projectBasicInfo.png) no-repeat 0px;
}
body>.rightArea>div>div>.projectBasicInfo>.headInfo>.foldExpansion{

}
body>.rightArea>div>div>.projectBasicInfo>.startState{

    height: 28px;

    background-color: #00b7c4;

    overflow: hidden;

    position: relative;
}
body>.rightArea>div>div>.projectBasicInfo>.showDilog{

    position: absolute;

    top: 59px;

    left: 38%;

    background-color: white;

    border: 1px solid #c1c1c1;

    display: none;
}
body>.rightArea>div>div>.projectBasicInfo>.showDilog>.rows{

    padding: 4px 21px;

    margin: 7px 0;

    cursor: pointer;
}
body>.rightArea>div>div>.projectBasicInfo>.showDilog>.rows:hover{
    background-color:#c1c1c1;
}
body>.rightArea>div>div>.projectBasicInfo>.startState>.state{

    display: block;

    box-sizing: border-box;

    color: white;

    padding-right: 14px;

    float: left;

    position: absolute;

    top: 50%;

    margin-top: -9px;

    left: 50%;

    background: url(../images/Triangle.png) no-repeat 100%;

    margin-left: -25px;

    cursor: pointer;
}
body>.rightArea>div>div>.projectBasicInfo>.rows{margin: 3px auto 0 auto;width: 93%;}
body>.rightArea>div>div>.projectBasicInfo>.rows:nth-child(1){}
body>.rightArea>div>div>.projectBasicInfo>.rows>.title{

    display: block;

    float: left;

    margin-right: 6px;

    color: #8e8b8b;
}
body>.rightArea>div>div>.projectBasicInfo>.rows>.value{

}
/*项目基本信息*/


body>.rightArea>div>div>div:nth-child(n+2){

    width: 95%;

    margin: 11px auto 0 auto;

    box-sizing: border-box;

    overflow: hidden;

    padding-bottom: 9px;

    border: 1px solid #d2d2d2;

    background-color: white;

    position: relative;
}
body>.rightArea>div>div>div:nth-child(n+2)>.headInfo{

    height: 33px;

    overflow: hidden;

    background-color: #f6f6f6;
}
body>.rightArea>div>div>div:nth-child(n+2)>.headInfo>.title{

    overflow: hidden;

    display: block;

    float: left;

    margin: 6px 0 0 9px;

    padding-left: 19px;

    background-size: 16px;

    position: relative;

    width: auto;
}
body>.rightArea>div>div>div:nth-child(n+2)>.headInfo>.foldExpansion{

    width: 24px;

    cursor: pointer;

    height: 18px;

    float: right;

    background: url(../images/foldExpansion.png) no-repeat 50%;

    background-size: 16px;

    background-position: 0 -2px;

    margin: 9px 8px 0 0;
}
body>.rightArea>div>div>div:nth-child(n+2)>.headInfo>.select{

    background-position: 0 1px;

    height: 3px;

    margin-top: 14px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea{

    overflow: hidden;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.out{

    overflow: hidden;

    box-sizing: border-box;

    margin: 5px 0 0 11px;

    height: 22px;

    width: 95%;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.out>.fraction{

    color: #828181;

    display: block;

    float: left;

    margin-right: 4px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.out>.number{

    color: red !important;

    display: block;

    float: left;

    position: relative;

    background-color: transparent;

    margin-left: 8px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>div{

    width: 78px;

    float: left;

    height: 74px;

    margin: 9px 0 9px 16px;

    overflow: hidden;

    position: relative;

    cursor: pointer;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.rate>div{

    width: 100%;

    height: 44px;

    background: url(../images/rate.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.distribution>div{

    width: 100%;

    height: 44px;

    background: url(../images/inbound.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.markingRecords>div{

    width: 100%;

    height: 44px;

    background: url(../images/markingRecords.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.templateMaintenance>div{

    width: 100%;

    height: 44px;

    background: url(../images/inbound.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.checkAttendance>div{

    width: 100%;

    height: 44px;

    background: url(../images/inbound.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.attendanceDetails>div{

    width: 100%;

    height: 44px;

    background: url(../images/inbound.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.payroll>div{

    width: 100%;

    height: 44px;

    background: url(../images/inbound.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>div>.number{

    position: absolute;

    right: 11px;

    box-sizing: border-box;

    overflow: hidden;

    color: white !important;

    background-color: red;

    padding: 0 5px;

    border-radius: 94px;

    width: 24px;

    height: 20px;

    line-height: 20px;

    text-align: center;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>div>.title{

    position: absolute;

    bottom: 0;

    display: block;

    text-align: center;

    width: 100%;

    color: #929292;

    background: transparent;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>div>.div{

}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.out>div{

}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.out>div>.number{

}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.out>div>.title{

}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.rate{

}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.distribution>div{

    width: 100%;

    height: 44px;

    background: url(../images/distribution.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.markingRecords>div{

}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.templateMaintenance>div{

    width: 100%;

    height: 44px;

    background: url(../images/templateMaintenance.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.checkAttendance>div{

    width: 100%;

    height: 44px;

    background: url(../images/checkAttendance.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.attendanceDetails>div{

    width: 100%;

    height: 44px;

    background: url(../images/attendanceDetails.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.payroll>div{

    width: 100%;

    height: 44px;

    background: url(../images/payroll.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>div>div:hover{background-position: 50% 0;}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.alreadyApplied>div{

    width: 100%;

    height: 44px;

    background: url(../images/alreadyApplied.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.inbound>div{

    width: 100%;

    height: 44px;

    background: url(../images/inbound.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.updateReceipt>div{

    width: 100%;

    height: 44px;

    background: url(../images/updateReceipt.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.beConsumed>div{

    width: 100%;

    height: 44px;

    background: url(../images/beConsumed.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.consumed>div{

    width: 100%;

    height: 44px;

    background: url(../images/consumed.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>div:nth-child(n+2)>.selectArea>.manReceiver>div{

    width: 100%;

    height: 44px;

    background: url(../images/manReceiver.png) no-repeat 50% -44px;

    margin-top: 10px;
}
body>.rightArea>div>div>.projectMaterial .title{background: url(../images/projectMaterial.png) no-repeat 0;}
body>.rightArea>div>div>.projectQuality .title{

    background: url(../images/projectQuality.png) no-repeat 0;
}
body>.rightArea>div>div>.projectData .title{

    background: url(../images/projectData.png) no-repeat 0;
}
body>.rightArea>div>div>.laborManagement .title{

    background: url(../images/laborManagement.png) no-repeat 0;
}

/*右部区域*/

.table4_3 {
    width: 99%;
    margin: 13px auto;
    border:0;
}
.table4_3 th {
    color: white;
    background-color: #65d3de;
}
.table4_3,.table4_3 th,.table4_3 td {
    font-size: 0.95em;
    text-align:center;
    padding: 7px;
    border-collapse:collapse;
}
.table4_3 tr td:first-child {
    font-size:0.95em;
    text-align:center;
    padding:4px;
    border-collapse:collapse;
    color: #4dc6d2;
}
.table4_3 th,.table4_3 td {
    border-width:1px 0 1px 0;
}
.table4_3 tr {}
.table4_3 tr:nth-child(odd){background-color: #f3f3f3;}
.table4_3 tr:nth-child(even){
}

/*表单区域*/
.layer .mark{

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    width: 100%;

    background-color: black;

    opacity: 0.5;

    display: none;
}
.layer .addOrUpdate{

    width: 318px;

    position: absolute;

    top: 10px;

    background-color: white;

    border: 1px solid #9e9a9a;

    left: 50%;

    margin-left: -159px;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0;

    display: none;

    z-index: 1;
}
.layer .addOrUpdate>.head{

    height: 30px;

    overflow: hidden;

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    background-color: #cacaca;
}
.layer .addOrUpdate>.head>.title{

    font-size: 13px;

    float: left;

    height: 30px;

    line-height: 30px;

    display: block;

    overflow: hidden;

    padding: 0;

    box-sizing: border-box;

    margin-left: 10px;
}
.layer .addOrUpdate>.head>.close{

    float: right;

    width: 11px;

    height: 11px;

    background: url(../images/closeBtn.png) no-repeat 50%;

    background-size: 12px;

    margin: 9px;

    cursor: pointer;
}
.layer .addOrUpdate>.rows{

    overflow: hidden;

    margin: 14px auto;

    width: 73%;
}
.layer .addOrUpdate>.rows>.title{

    float: left;

    height: 30px;

    line-height: 30px;
}
.layer .addOrUpdate>.rows>input{

    float: left;

    margin: 3px 0 0 9px;

    height: 23px;

    box-sizing: border-box;

    border: 1px solid #ebebeb;

    border-radius: 5px;

    width: 144px;
}
.layer .addOrUpdate>.bottom{

    margin: 10px auto;

    width: 166px;

    overflow: hidden;

    box-sizing: border-box;

    padding: 0;
}
.layer .addOrUpdate>.bottom>a{

    display: block;

    float: left;

    background-color: green;

    color: white;

    letter-spacing: 3px;

    padding: 9px 21px;

    cursor: pointer;
}
.layer .addOrUpdate>.bottom>.sureBtn{

}
.layer .addOrUpdate>.bottom>.cancel{

    float: right;

    background-color: #cacaca;
}
/*表单区域*/

/*进度条弹出框区域*/
body >.processArea{

    position: fixed;

    display: none;

    top: 10px;

    right: 11px;

    z-index: 101;

    background-color: white;

    bottom: 52px;

    width: 393px;
}
body >.processArea>.top{

    margin: 25px auto 0 auto;

    width: 93%;

    height: 35px;

    border-bottom: 1px solid #c7c7c7;

    overflow: hidden;

    padding: 0;

    box-sizing: border-box;
}
body >.processArea>.top>.title{

    display: block;

    float: left;

    font-size: 16px;

    font-weight: 500;

    overflow: hidden;

    padding: 0;

    margin: 0;

    box-sizing: border-box;
}
body >.processArea>.top>.closeBtn{

    overflow: hidden;

    float: right;

    display: block;

    background: url(../images/closeBtn.png) no-repeat 50%;

    background-size: 14px;

    width: 15px;

    height: 15px;

    margin: 5.5px;
}
body >.processArea>div{

}
body >.processArea>div .searchArea{

    width: 93%;

    margin: 24px auto 18px auto;

    overflow: hidden;

    padding: 0;

    box-sizing: border-box;

    position: relative;
}
body >.processArea>div .searchArea>.title{

    display: block;

    font-size: 13px;

    overflow: hidden;

    padding: 0;

    box-sizing: border-box;
}
body >.processArea>div .searchArea>.number{

    position: absolute;

    top: 34px;

    right: 11px;

    font-size: 14px;
}
body >.processArea>div .searchArea>.process{

    float: initial;

    width: 100%;

    margin: 8px auto;

    height: 34px;

    line-height: 34px;

    text-align: right;

    box-sizing: border-box;

    background-color: white;

    border: 1px solid #ebebeb;

    outline: none;

    color: black;

    font-size: 14px;

    padding-right: 43px;
}
body >.processArea>div .searchArea>.dateTime{

    float: initial;

    width: 100%;

    margin: 8px auto;

    height: 34px;

    line-height: 34px;

    text-align: left;

    box-sizing: border-box;

    background-color: white;

    border: 1px solid #ebebeb;

    outline: none;

    color: black;

    font-size: 14px;

    padding-right: 43px;
}
body >.processArea>div .searchArea>.saveBtn{

    overflow: hidden;

    display: block;

    width: 163px;

    background-color: red;

    color: white;

    text-align: center;

    border-radius: 29px;

    height: 39px;

    line-height: 39px;

    font-size: 15px;

    margin: 11px 0 0 105px;
}
body >.processArea>div .dataListArea{

    width: 93%;

    margin: 0 auto;
}
body >.processArea>div .dataListArea>.title{

    font-size: 13px;
}
.table4_5 {
    width: 99%;
    margin: 13px auto;
    border:0;
}
.table4_5 th {
    background-color: #25d0d0;
    color: white;
}
.table4_5,.table4_5 th,.table4_5 td {
    font-size: 12px;
    text-align:center;
    padding:4px;
    border-collapse:collapse;
}
.table4_5 th,.table4_5 td {
    border-width:1px 0 1px 0;
    border-bottom: 1px solid #e8e8e8;
    height: 26px;
}
.table4_5 tr {
}
.table4_5 tr:nth-child(odd){
}
.table4_5 tr:nth-child(even){
    background-color:#fdfdfd;
}
/*进度条弹出框区域*/