.laborManagementPopup {
    width:900px;
}
    .laborManagementPopup .selectWhereRows {
    margin: 20px 10px;
    }
        .laborManagementPopup .selectWhereRows .filterRows {
    margin: 10px 10px;
    }
               .laborManagementPopup .selectWhereRows .selectBtn {
    float: left;
    }
.laborManagementPopup>.content>.left{width: 24%;border: 1px solid #d0d0d0;overflow: hidden;box-sizing: border-box;margin: 0;padding: 0;/* height: 363px; */float: left;}
.laborManagementPopup>.content>.right{width: 363px;overflow: hidden;float: left;margin-left: 1%;width: 75%;border: 1px solid #d0d0d0;box-sizing: border-box;}

.laborManagementPopup .tree {color:#46CFB0;width:800px;margin: 1px auto;}
.laborManagementPopup .tree li,
.laborManagementPopup .tree li > a,
.laborManagementPopup .tree li > span {
    padding: 4pt;
    border-radius: 4px;
}

.laborManagementPopup .tree li a {
    color:#46CFB0;
    text-decoration: none;
    line-height: 20pt;
    border-radius: 4px;
}

.laborManagementPopup .tree li a:hover {
    background-color: #34BC9D;
    color: #fff;
}

.laborManagementPopup .tree .active {
    background-color: #34495E;
    color: white;
}

.laborManagementPopup .tree .active a {
    color: #fff;
}

.laborManagementPopup .tree li a.active:hover {
    background-color: #34BC9D;
}
ul.ztree {margin: 0px;width: 100%;height: 460px;overflow-y:scroll;overflow-x:auto;}
ul.log {border: 1px solid #617775;background: #f0f6e4;width:300px;height:170px;overflow: hidden;}
ul.log.small {height:45px;}
ul.log li {color: #666666;list-style: none;padding-left: 10px;}
ul.log li.dark {background-color: #E3E3E3;}
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}

