/*左部区域*/
body>.leftArea{
width: 218px;
box-sizing: border-box;
overflow: hidden;
float: left;
}

/*头部logo*/
body>.leftArea>.logoIcon{
margin: 0 auto;
width: 122px;
display: block;
margin-top: 26px;
}
/*头部logo*/

/*搜索区域*/
body>.leftArea>.search{
border: 2px solid red;
overflow: hidden;
width: 174px;
margin: 0 auto;
margin-top: 17px;
}
body>.leftArea>.search>select{
border: 0px;
float: left;
display: block;
height: 24px;
}
body>.leftArea>.search>select>option{

}
body>.leftArea>.search>input{
display: block;
box-sizing: border-box;
float: left;
width: 85px;
height: 24px;
border: 0px;
line-height: 24px;
}
body>.leftArea>.search>.searchBtn{
width: 28px;
height: 24px;
background-color: red;
display: block;
float: left;
cursor: pointer;
background: url(../images/seachBtn.png) no-repeat 65% red;
background-size: 57%;
box-sizing: border-box;
}
/*搜索区域*/

/*项目列表*/
body>.leftArea>.projectList{
width: 100%;
margin-top: 25px;
}
body>.leftArea>.projectList>.rows{

}
body>.leftArea>.projectList>.rows>.endProject{
display: block;
width: 80%;
margin: 0 auto;
box-sizing: border-box;
background: url(../images/projectEnd.png);
padding-left: 27px;
background-repeat: no-repeat;
background-color: red;
background-position: 7px 2px;
}
body>.leftArea>.projectList>.rows>.noProcess{
display: block;
width: 80%;
margin: 0 auto;
}
body>.leftArea>.projectList>.rows>.select{

}
/*项目列表*/

body>.leftArea>.bottom{

}
body>.leftArea>.bottom>span{

}
/*左部区域*/

/*中间区域*/
body>.centerArea{

}

/*头部区域*/
body>.centerArea>.head{

}

/*头部左区域*/
body>.centerArea>.head>.left{

}
body>.centerArea>.head>.left>.goBack{

}
body>.centerArea>.head>.left>.pathTitle{

}
/*头部左区域*/

/*头部右区域*/
body>.centerArea>.head>.right{

}
body>.centerArea>.head>.right>.mapArea{

}
body>.centerArea>.head>.right>.mapTitle{

}
/*头部右区域*/

/*头部区域*/

/*进度显示区域*/
body>.centerArea>.processArea{

}
body>.centerArea>.processArea>.progressRows{

}
body>.centerArea>.processArea>.progressRows>img{

}
body>.centerArea>.processArea>.progressRows>.title{

}
body>.centerArea>.processArea>.progressRows>.dateTime{

}
body>.centerArea>.processArea>.progressRows>.progressBarArea{

}
body>.centerArea>.processArea>.progressRows>.progressBarArea>.progressBar{

}
body>.centerArea>.processArea>.progressRows>.number{

}
body>.centerArea>.processArea>.progressRows>.scheduleNumber{

}
body>.centerArea>.processArea>.progressRows>a{

}
body>.centerArea>.processArea>.dottedLine{

}
body>.centerArea>.processArea>.gather{

}
body>.centerArea>.processArea>.gather>span{

}
body>.centerArea>.processArea>.gather>span>.number{

}
body>.centerArea>.processArea>.gather>.total{

}
body>.centerArea>.processArea>.gather>.completion{

}
body>.centerArea>.processArea>.gather>.processing{

}
body>.centerArea>.processArea>.gather>.notStarted{

}
body>.centerArea>.processArea>.moreDown{

}
/*进度显示区域*/

/*项目信息切换*/
body>.centerArea>.projectInfoSwitch{

}
body>.centerArea>.projectInfoSwitch>span{

}
body>.centerArea>.projectInfoSwitch>.projectInfo{

}
body>.centerArea>.projectInfoSwitch>.sitePhoto{

}
body>.centerArea>.projectInfoSwitch>.select{

}
/*项目信息切换*/

/*项目信息数据区域*/
body>.centerArea>.projectInfo{

}


body>.centerArea>.projectInfo>.rows{

}
body>.centerArea>.projectInfo>.rows>.head{

}
body>.centerArea>.projectInfo>.rows>.head>div{

}
body>.centerArea>.projectInfo>.rows>.head>.projectMaterial{

}
body>.centerArea>.projectInfo>.rows>.head>.right{

}
body>.centerArea>.projectInfo>.rows>.head>.right>.update{

}
body>.centerArea>.projectInfo>.rows>.head>.right>.foldExpansion{

}
body>.centerArea>.projectInfo>.rows>.head>.right>.select{

}
body>.centerArea>.projectInfo>.rows>.head>.projectMaterial{

}
body>.centerArea>.projectInfo>.rows>.head>.projectContract{

}
body>.centerArea>.projectInfo>.rows>.head>.projectMaterials{

}
body>.centerArea>.projectInfo>.rows>.head>.projectCost{

}
body>.centerArea>.projectInfo>.rows>.head>.visaRemittance{

}

/*表格样式*/
.table4_2 {
    width:100%;
    margin:15px 0;
    border:0;
}
.table4_2 th {
    background-color:#AAEBAA;
    color:#000000
}
.table4_2,.table4_2 th,.table4_2 td {
    font-size:0.95em;
    text-align:center;
    padding:4px;
    border-collapse:collapse;
}
.table4_2 th,.table4_2 td {
    border: 1px solid #cef3ce;
    border-width:1px 0 1px 0
}
.table4_2 tr {
    border: 1px solid #cef3ce;
}
.table4_2 tr:nth-child(odd){
    background-color:#e2f8e2;
}
.table4_2 tr:nth-child(even){
    background-color:#fdfdfd;
}
/*表格样式*/

/*项目信息数据区域*/

/*现场图片区域*/
body>.centerArea>.sitePhoto{

}

/*标准化施工流程区域*/
body>.centerArea>.sitePhoto>.flowChartArea{

}
body>.centerArea>.sitePhoto>.flowChartArea>.head{

}
body>.centerArea>.sitePhoto>.flowChartArea>.head>span{

}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right{

}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right>.update{

}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right>.foldExpansion{

}
body>.centerArea>.sitePhoto>.flowChartArea>.head>.right>.select{

}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStep{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>div{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>div>.title{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>div>.dateTime{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.contractConfirmation{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.confirmStart{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.constructionScheme{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.firstPieceSystem{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.constructionProject{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.singleVisa{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.updateProject{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.clientReview{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.projectSummary{

}
body>.centerArea>.sitePhoto>.flowChartArea>.rows>.dataArchiving{

}
body>.centerArea>.sitePhoto>.flowChartArea>.photoStepLetter{

}
/*标准化施工流程区域*/

/*现场图片区域*/

/*中间区域*/

/*右部区域*/
body>.rightArea{

}

/*头部用户区域*/
body>.rightArea>.headTop{

}
body>.rightArea>.headTop>.userPhoto{

}
body>.rightArea>.headTop>.userName{

}
body>.rightArea>.headTop>.shoppingCart{

}
body>.rightArea>.headTop>.shoppingCart>.number{

}
/*头部用户区域*/

/*项目基本信息*/
body>.rightArea>.projectBasicInfo{

}
body>.rightArea>.projectBasicInfo>.headInfo{

}
body>.rightArea>.projectBasicInfo>.headInfo>.title{

}
body>.rightArea>.projectBasicInfo>.headInfo>.foldExpansion{

}
body>.rightArea>.projectBasicInfo>.startState{

}
body>.rightArea>.projectBasicInfo>.startState>.state{

}
body>.rightArea>.projectBasicInfo>.rows{

}
body>.rightArea>.projectBasicInfo>.rows>.title{

}
body>.rightArea>.projectBasicInfo>.rows>.value{

}
/*项目基本信息*/


body>.rightArea>div:nth-child(n+3){

}
body>.rightArea>div:nth-child(n+3)>.headInfo{

}
body>.rightArea>div:nth-child(n+3)>.headInfo>.title{

}
body>.rightArea>div:nth-child(n+3)>.headInfo>.foldExpansion{

}
body>.rightArea>div:nth-child(n+3)>.selectArea{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.out{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.out>.fraction{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.out>.number{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.out>div{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.out>div>.number{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.out>div>.title{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.rate{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.distribution{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.markingRecords{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.templateMaintenance{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.checkAttendance{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.attendanceDetails{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.payroll{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.alreadyApplied{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.inbound{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.updateReceipt{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.beConsumed{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.consumed{

}
body>.rightArea>div:nth-child(n+3)>.selectArea>.manReceiver{

}
body>.rightArea>.projectMaterial .title{

}
body>.rightArea>.projectQuality .title{

}
body>.rightArea>.projectData .title{

}
body>.rightArea>.laborManagement .title{

}

/*右部区域*/