/*******************************左侧********************************************/

.yh-left {
    min-height: 1072px;
    max-width: 228px;
    font-size: 14px;
    background-color: #fff;
}

    .yh-left .yh-logo {
        margin-top: 20px;
        /*height: 100;*/
    }

        .yh-left .yh-logo > div:first-child {
        }

    .yh-left .yh-search {
        margin-top: 20px;
        /* height: 100%; */
    }


        .yh-left .yh-search .yh-commonui {
            max-height: 32px;
        }



    .yh-left .yh-prolist {
        margin-top: 20px;
        /*height: 100%;*/
    }

.yh-search-div {
    height: 30px;
    border: 2px solid red;
    padding-left: 0;
    line-height: 24px;
    padding-right: 0;
}

    .yh-search-div > select:nth-child(1) {
        font-size: 12px;
        background: none;
        border: none;
    }

        .yh-search-div > select:nth-child(1) :focus {
            outline: none;
        }

    .yh-search-div > input:nth-child(2) {
        max-width: 100px;
        border: none;
    }

        .yh-search-div > input:nth-child(2):focus {
            outline: none;
        }


    .yh-search-div > div:nth-child(3) {
        max-width: 30px;
        width: 30px;
        height: 100%;
        float: right;
        background-color: red;
        text-align: center;
    }

        .yh-search-div > div:nth-child(3):nth-child(1) {
        }

.yh-loadmore {
    width: 80%;
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    left: 32px;
    color: #999999;
    /* height: 100%; */
}

.yh-prolist > .col-md-12:hover {
    cursor: pointer;
}
